:root{
    --shadow-color: 0deg 0% 64%;
    --shadow-elevation-medium:
    0.3px 0.4px 0.5px hsl(var(--shadow-color) / 0.64),
    1.5px 1.7px 2.2px -1.7px hsl(var(--shadow-color) / 0.52),
    6.7px 7.4px 9.7px -3.5px hsl(var(--shadow-color) / 0.4);
    --shadow-elevation-medium-hover:
    0.3px 0.4px 0.6px hsl(var(--shadow-color) / 0.42),
    1.9px 2px 3.2px -1.1px hsl(var(--shadow-color) / 0.46),
    6.9px 7.6px 12px -2.2px hsl(var(--shadow-color) / 0.5);
}
body {
   
   // margin-top: $nav-height;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // min-height: -moz-available;
    // min-height: -webkit-fill-available;
    // min-height: stretch;

    @media(min-width:$md) {
        min-height: 100vh;
    }

    overscroll-behavior: none;

}

a {
    color: $primary;
    display: inline-block;
    &:hover {
        opacity: 0.8;
    }
}