
.comfortaa-400 {
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
$font-family-sans-serif:"Roboto Flex", sans-serif;
body{
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.text-alert{
    color: $error-response ;
}
.text-muted{
    opacity: .4;
}

$fs-100: 1rem;
$fs-125: 1.25rem;
$fs-150: 1.5rem;
$fs-175: 1.75rem;
$fs-200: 2rem;
$fs-250: 2.5rem;
$fs-300: 3rem;


h1, h2, h3, h4{
    color: $primary;
    text-wrap: balance;
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}